{% extends '@content/page.twig' %}

{% block meta %}


<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
<meta name="description" content="Create teams, create projects and work collaboratively with friends and coworkers using this new logging tool." />
<meta name="keywords" content="Notes, Projects, Collaboration, Teamwork" />
<meta name="author" content="Connor Hartwell" />
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock meta %}


{% block onload %}
    $('#alert').on('click', function(){
        bootbox.alert('Hello World')
    })
{% endblock onload %}

{% block header %}
    <section class="col-md-12 mt-5">
        <h1 class="text-center">ULog</h1>
    </section>
{% endblock header %}

{% block main %}
    <section class="row">
        <p class = "col-md-12 text-center">
            This is a website made to allow you to make notes, work collaboratively and upload files in an easy-to-use manner.
            <br />
            Please feel free to browse around, create projects, add teammates and start on your next project together!
            <br />
        </p>
        <div class = "col-md-12 text-center">
        <a href="/project/all"> Open the projects page! </a>
    </section>
{% endblock main %}

{% block footer %}
    <section class="col-md-12">
        <p class="text-center">Footer</p>
    </section>
{% endblock footer %}
