{% block header %}
    <article class="col-md-12">
        <h1 class="text-center">{{MessageTitle}}</h1>
    </article>
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="ml-auto col-md-8 mr-auto">
            <p class="text-center">{{MessageBody}}</p>
            <a href="{{RedirectLink}}"><p class="text-center">{{RedirectLinkText}}</p></a>
        </article>
    </section>
{% endblock main %}
