.note {
    background-color: white;
    color: #4d3221;

    border:1px solid #4d3221;;  
    border-radius: 1em; 
    position:relative;
    display:block;
    width:100%;
    
    padding:0.5em;
    margin:1em;
}

.title {
    border-bottom: 2px solid black;
    text-align:center;
}


#nonotes {
    position:relative;
    top:10em;
    height:50%;
    color:grey;
}

.link {
    margin:4em;
}

.note:hover {
    background-color: #4d3221;
    color: white;
}